.card{
    width: 8rem;
    height: 12rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--lightblueCard);
    box-shadow: var(--boxShadow);
    /* border-radius: 20px; */
    border-radius: 30px 30px 200px 30px;
    overflow: hidden;
    padding: 0 24px 70px 24px;

}
.card span:nth-child(2){
    color: var(--gray);
    font-size: 16px;
}
.card > img{
    /* transform: scale(0.6);
    margin-bottom: -3rem; */
    margin: 10px auto;
    width: 4rem;
}
.c-button{
    background: #ffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #5290Fd;
}
.cards{
    position: relative;
    flex: 1;
}
.cards>*{
    position: absolute;
}


@media only screen and (max-width:480px) {
    .card{
        width: 66vw ;
    }
}