.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}

.i-name>:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--lightblue);
}

.i-name>:nth-child(3) {
    font-size: 14px;
    color: var(--gray);
    font-weight: 100;
}

.i-button {
    height: 2rem;
    width: 6rem;
}

.i-icons {
    display: flex;
    margin-top: 3rem;

    gap: 0;
}

.i-icons>* {
    transform: scale(0.5);
}

.i-icons>*:hover {
    cursor: pointer;
}

.i-right {
    display: flex;
    flex: 1;
    position: relative;
}

.i-right .imgs{
    position: relative;
    z-index: 1;
}
.imgs>*{
    position: absolute;
}
.imgs>:nth-child(1){
    transform: scale(0.60);
    top: -7rem;
    left: -5rem;
}
.imgs>:nth-child(2){
    transform: scale(0.60);
    left: -5rem;
    top: -9rem;
}
.imgs>:nth-child(3){
    /* transform: scale(1.20); */
    /* left: 6rem; */
    /* top: -3.5rem; */
    top: -4.5rem;
}
/* .imgs>:nth-child(4){
    transform: scale(0.60);
    
} */
.floating-div:nth-of-type(1){
    left: 15rem !important;
    top: -4rem !important;
   
    
}
.floating-div span{
    color: var(--black);
}
.floating-div:nth-of-type(2){
    /* top: -3rem !important;
    left: 17rem !important; */
    
}
.floating-img{
    left: -4rem !important;
    top: -5rem;
    transform: scale(0.5);
}
.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    /* filter: blur(212px); */
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}
.boy-circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}

@media only screen and  (min-width:768px)and (max-width:820px){

    .imgs{
        left: -3rem;
    }
    .i-icons{
        transform: scale(1.0);
    }
    .intro{
        height: 50vh !important;
        margin-top: 10rem;
    }
    
    
}
@media only screen and (max-width:480px) {
    .intro {
        flex-direction: column;
        height: 64rem;
        gap: 1rem;
        margin-top: 0;
    }

    .i-name {
        text-align: center;
    }

    .i-name span:nth-of-type(3) {
        display: none;
    }

    .i-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i-right {
        transform: scale(0.8);
        left: -3rem;
    }

    .i-right>:nth-child(2) {
        left: -5rem !important;
    }

    .i-right>:nth-child(4) {
        left: -20% !important;
    }

    .intro .sp {
        top: 50rem !important;
        left: -10rem !important;
    }

    
}